# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# ignore eval.zip (https://github.com/haotian-liu/LLaVA/blob/main/docs/Evaluation.md)
playground/data/eval/

# ignore venv
venv/

# Exceptions
!evaluation/Maya-8B_English.jsonl
!evaluation/reviews/Maya-8B_English.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints


# DevContainer
!.devcontainer/*

# Demo
serve_images/
